@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read Page";
}

<h1>Read</h1>
<style>
    h1, h5, p {
        font-family: "Brush Script MT ",Lucida Handwriting,Cursive;
    }

    h5, p {
        color: darkred;
    }

    body {
        background-color: cornflowerblue;
    }
</style>

<div class="content">
    <h5 class="title" id="productSchoolName">@Model.Product.SchoolName</h5>
    <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.SchoolName'>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>